<!DOCTYPE html>
<html>
    <head>
        <!-- Le styles -->
        <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
        <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="http://twitter.github.com/bootstrap/assets/css/docs.css" rel="stylesheet">
        <link href="http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.css" rel="stylesheet">
        <title>Distance Square - {% block title %}{% endblock %}</title>
        {% block map %}{% endblock %}
	<style type="text/css">
           body { padding: 10px 20px; }
	   #messages { border: 1px #DAA520 solid; background-color: #FFFFB2; 
padding: 15px; width: 500px; margin-bottom: 30px; 4}
	   #messages li { display: inline; }
	</style>
    </head>
    <body onload="initialize()">
       {% with messages = get_flashed_messages() %}
        {% if messages %}
      <div id="messages">
          <ul class="flashes">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
      </div>
        {% endif %}
       {% endwith %}

      {% block header %}{% endblock %}
      {% block content %}{% endblock %}
    </body>
</html>
