<!DOCTYPE html>
<html>
    <head>
        <!-- Le styles -->
        <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
        <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="http://twitter.github.com/bootstrap/assets/css/docs.css" rel="stylesheet">
        <link href="http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.css" rel="stylesheet">
        <title>Distance Square - {% block title %}{% endblock %}</title>
        {% block map %}{% endblock %}
	<style type="text/css">
	   .messages {  }
	</style>
    </head>
    <body onload="initialize()">
      <div id="messages">
       {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="flashes">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
       {% endwith %}
      </div>

      <h1>{% block header %}{% endblock %}</h1>
      {% block content %}{% endblock %}
    </body>
</html>
