<!DOCTYPE html>
<html>
    <head>
        <title>Distance Square - {% block title %}{% endblock %}</title>
    </head>
    <body>
      <div id="messages">
       {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="flashes">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
       {% endwith %}
      </div>

      <h1>{% block header %}{% endblock %}</h1>
      {% block content %}{% endblock %}
    </body>
</html>
