{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block header %}Welcome {{ user['firstName'] + " " + user['lastName'] }}{% endblock %}

{% block content %}
<p><a href="{{ url_for('settings') }}">Settings</a></p>
<p><a href="{{ url_for('logout') }}">Log out</a></p>

<table>
    <th>
        <td>Name</td>
        <td>Location</td>
        <td>Link</td>
    </th>
{% for checkin in checkins %}
   <tr>
        <td>{{ checkin['name'] }}</td>
        <td>{{ checkin['lat'] }}, {{ checkin['long'] }}</td>
        <td><a href="http://foursquare.com/user/{{ user['id'] }}/checkin/{{ checkin['id'] }}">[{{ checkin['id'] }}]</a></td>
    </tr>
{% endfor %}
</table>
{% endblock %}
