<!DOCTYPE html>
<html>
    <head>
        <title>Distance Square</title>
    </head>
    <body>
     {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
     {% endwith %}
    <h1>Log into Foursquare first</h1>
        <a href="{{ url_for('login') }}">
            <img src="static/images/connect-black.png" />
        </a>
    </body>
</html>
