<!DOCTYPE html>
<html>
  <head>
   <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { height: 100% }
    </style>
    <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key={{ key }}&sensor=true">
    </script>
    <script type="text/javascript">
      function initialize() {
        var myOptions = {
          center: new google.maps.LatLng(-34.397, 150.644),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"),
            myOptions);

        <!--
        var towneBuilding = new google.maps.LatLng(39.9515628419, -75.1913309097);
        var VPL = new google.maps.LatLng(39.9526896018, -75.1935732365);
        var HCH = new google.maps.LatLng(39.9517273336, -75.2009010315);
        var center = new google.maps.LatLng(0,0);

        var myOptions = {
	  {% if center %}  
          center: new google.maps.LatLng({{ center['lat'] }}, {{ center['long'] }}),
	  {% endif %}
          zoom: 15,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        var map = new google.maps.Map(document.getElementById("map_canvas"),
            myOptions);
        

	{% for checkin in checkins %}
	   var {{ checkin['name'] }} = new google.maps.Marker({
	       position: new googl.maps.LatLng({{ checkin['lat'] }}, {{ checkin['long'] }}),
	       map: map,
	       title:"{{ checkin['name'] }}
	       });
	{% endfor %}
        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            animation: google.maps.Animation.DROP,
            draggable:true,
            title:"Test this ish"
            });
        var towneBuilding = new google.maps.Marker({
            position: towneBuilding,
            map: map,
            title:"Towne Building"
            });
        var VPL = new google.maps.Marker({
            position: VPL,
            map: map,
            title:"VanPeltLibrary"
            });
        var HCH = new google.maps.Marker({
            position: HCH,
            map: map,
            title:"Harrison College House"
            });
	    -->
      }
    </script>
  </head>
  <body onload="initialize()">
    <!--{% if user %}
    <h1> Welcome {{ user['firstName'] + " " + user['lastName']}}! </h1> 
    {% else %}
    <h1> Welcome User! </h1>
    {% endif %}
    -->
    <div id="map_canvas" style="width: 100%; height: 100%"></div>
    <h2>Checkins</h2>
    {% for checkin in checkins %}
    Location: <a href="http://foursquare.com/user/{{ user['id'] }}/checkin/{{ checkin['id'] }}">{{ checkin['name'] }}</a>,  Lat: {{ checkin['lat']}}, Long: {{checkin['long']}}
    <br />
    {% endfor %}
  </body>
</html>
